*,
*::before,
::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a,
img,
input,
span,
button,

ion-icon{
    display: block;
}

a{
    color:inherit;
    text-decoration:none;
}

input,
button{
    background: none;
    border:none;
    font:inherit;
}

input{
    width:100%;
    outline: none;
}

button{
    cursor: pointer;
}

ion-icon{
    pointer-events: none;
}

address{
    font-style: normal;
}

html{
    font-family: var(--ff-poppins);
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-white-);
    font-family: 'Tilt Neon', sans-serif;
    color: var(--text-granite-gray);
    font-size: var(--fontsize-6);
    line-height: 1.8;
}

body{
    background-color: white;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lavenderblush;
    display: grid;
    place-content: center;
    z-index: 6;
    transform: 1;
}

.preloader.remove{
    visibility: hidden;
    opacity: 0;
}

.img{
    animation: bounce 800ms ease-in-out infinite alternate;
}

@keyframes bounce{
    0% {transform: translateY(-10px);}
    100%{transform: translateY(0);}
}

.container{padding-inline: 16px;}

.preloader-inner{
    position: relative;
}

.preloader-inner::after{
    content:"";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width:80%;
    height:10px;
    background-color: black;
    filter:blur(4px);
    z-index: -1;
    animation: dropShadow 800ms ease-in-out infinite alternate;
}
@keyframes dropShadow {
    0%{width: 40%;}
    100%{width: 80%;
    }
}

.navbar-link{
    font-family: 'Tilt Neon', sans-serif;
    font-weight: 400px;
    font-size: medium;
    color: rgb(36, 30, 30);
}
.header-action{
    font-size: medium;
}

.navbar,
.overlay {
    display:none;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    padding-block: 30px;
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    z-index: 4;
}

.header.active{
    position: fixed;
    background-color:white;
    box-shadow: var(--shadow-1);
    animation: slideIn 500ms ease forwards;
}
@keyframes slideIn {
    0%{ transform: translateY(-100%);}
    100%{ transform: translateX(0);}
}


